@font-face {
  font-family: "Arial";
  // адрес шрифта и тип
  src: url("../../assets/fonts/Arimo-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Georgia";
  // адрес шрифта и тип
  src: url("../../assets/fonts/Gelasio-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/*Normalize*/

/*fonts*/
$font_arial: "Arial", sans-serif;
$font_georgia: "Georgia", sans-serif;
/*fonts*/

/*container*/
$container: 1200px;

/*container*/
$color_h1: #545454;
$color-white: #ffffff;
$color-dark: #292929;
$color_card: #fafafa;
$color_nav: #545454;
$color_nav_hover: #292929;
$color_nav_active: #f1cdb3;
$background_grey: #f6f6f6;
$button_active: #fddcc4;
$button-text: #292929;
$color-arrows-blind: #cdcdcd;
$background_gradient: radial-gradient(
  100% 215.42% at 0% 0%,
  #5b483a 0%,
  #262425 100%
);
/*variables*/

/*mixin*/
@mixin container($container) {
  max-width: $container;
  margin: 0 auto;
}

@mixin navhover($color_nav_hover) {
  color: $color_nav_hover;
}

@mixin navactive($color_nav_active) {
  border-bottom: solid 3px $color_nav_active;
  color: $color-nav;
}

@mixin h3($font_georgia, $color-dark) {
  font-family: $font_georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 218.75%;
  line-height: 130%;
  color: $color-dark;
  letter-spacing: 0.06em;
}

@mixin h4($font_georgia, $color-dark) {
  font-family: $font_georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 125%;
  line-height: 23px;
  letter-spacing: 0.06em;
}

@mixin p($font_arial) {
  font-family: $font_arial;
  font-style: normal;
  font-weight: 400;
  font-size: 93.75%;
  line-height: 160%;
}

@mixin buttonwithcolor($color_nav_active, $font_georgia) {
  padding: 15px 45px;
  width: 207px;
  height: 52px;
  background-color: $color_nav_active;
  border-radius: 100px;
  font-family: $font_georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 100%; // неправильный шрифт
  line-height: 130%;
  text-align: center;
}

@mixin buttonactive($button_active) {
  background-color: $button_active;
}
@mixin buttonwithoutcolor($color_nav_active, $font_georgia, $button-text) {
  padding: 15px 45px;
  width: 187px;
  height: 52px;
  border: 2px solid $color_nav_active;
  border-radius: 100px;
  font-family: $font_georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 100%; // неправильный шрифт
  line-height: 130%;
  text-align: center;
  color: $button-text;
  letter-spacing: 0.06em;
}

@mixin buttonwithoutcoloractive($button_active) {
  background-color: $button_active;
  border: 2px solid $button_active;
}

/*mixin*/

/*common css*/
.body {
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
/*common css*/

.header {
  .header_container {
    @include container($container);
    box-sizing: border-box;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    .logo {
      padding-top: 2px;
      display: flex;
      flex-direction: column;
      gap: 7.5px;
      .logo-title {
        font-family: $font_georgia;
        font-style: normal;
        font-weight: 400;
        font-size: 200%;
        line-height: 110%;
        color: $color_h1;
        letter-spacing: 0.06em;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.05);
        }
        a {
          color: inherit;
          &:hover {
            color: $color-nav-active;
          }
        }
      }
      .logo-text {
        font-family: $font_arial;
        font-style: normal;
        font-weight: 400;
        font-size: 81.25%;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: $color-dark;
        padding-left: 3px;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    .menu-list {
      display: flex;
      gap: 38px;
      .menu-item {
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.05);
        }

        a {
          text-decoration: none;
          cursor: pointer;
          font-family: $font_arial;
          font-style: normal;
          font-weight: 400;
          font-size: 93.75%;
          line-height: 160%;
          color: $color_nav;
          &:hover {
            @include navhover($color_nav_hover);
          }
          &:active {
            @include navactive($color_nav_active);
          }
        }
      }
      .active {
        &:hover {
          transform: none;
        }
        @include navactive($color_nav_active);
        a {
          pointer-events: none;
          @include navhover($color_nav_hover);
        }
      }
    }
  }
}

.our-friends {
  background-color: $background_grey;
  .our-friends_container {
    @include container($container);
    padding-top: 83px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    .our-friends_title {
      @include h3($font_georgia, $color-dark);
      max-width: 400px;
      text-align: center;
    }
    .slider_container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 30px;
      .card {
        background-color: $color_card;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-bottom: 30px;
        border-radius: 9px;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover {
          background-color: $color-white;
          transform: scale(1.03);
        }

        &:hover .card_button {
          @include buttonwithoutcoloractive($button_active);
        }

        .card_image {
        }
        .card_title {
          @include h4($font_georgia, $color-dark);
        }

        .card_button {
          cursor: pointer;
          @include buttonwithoutcolor(
            $color_nav_active,
            $font_georgia,
            $button-text
          );
          .button_text {
          }
          &:hover {
            @include buttonwithoutcoloractive($button_active);
          }
        }
      }
    }
    .arrows_container {
      padding-top: 4px;
      display: flex;
      gap: 20px;

      .slider_arrow_blind {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;
        width: 52px;
        border: solid 2px $color-arrows-blind;
        border-radius: 100px;
        .arrow-image {
        }
        &:hover {
          pointer-events: none;
        }
      }

      .slider_number_arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;
        width: 52px;
        background-color: $color_nav_active;
        //border: solid 2px $color_nav_active;
        border-radius: 100px;
        cursor: pointer;

        &:hover {
          @include buttonwithoutcoloractive($button_active);
        }
        .number {
          font-family: $font_georgia;
          font-style: normal;
          font-weight: 400;
          font-size: 125%;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: $color-dark;
        }
      }

      .slider_arrow_dark {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;
        width: 52px;
        border: solid 2px $color_nav_active;
        border-radius: 100px;
        cursor: pointer;
        .arrow-image {
        }
        &:hover {
          @include buttonwithoutcoloractive($button_active);
        }
      }
    }
  }
}

.footer {
  background: $background_gradient;
  .footer-container {
    padding-top: 40px;
    @include container($container);
    display: flex;
    justify-content: space-between;

    .contacts-block {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 38px;
      max-width: 302px;
      .contacts-title {
        @include h3($font_georgia, $color-dark);
        color: $color-white;
      }
      .contacts-item {
        display: flex;
        gap: 20px;
        align-items: center;
        .item-icon {
        }

        .item-text {
          @include h4($font_georgia, $color-dark);
          line-height: 115%;
          color: $color_nav_active;
          transition: all 0.5s ease;
          cursor: pointer;
          .footer-link {
            color: inherit;
            &:hover {
              color: $color_card;
            }
          }
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      .contacts1 {
      }
      .contacts2 {
        margin-top: 6px;
      }
      .contacts3 {
      }
      .contacts4 {
        margin-top: 5px;
      }
    }
    .block2 {
      margin-right: 23px;
      gap: 29px;
    }

    .footer-image {
    }
  }
}
